h1 {
    font-size: 2rem;
}

p {
    font-size: 12px;
}

#heading {
    background-color: #551111;
    color: #e2e2e2;
}

body {
    background-color: #e2e2e2;
    color: #006677;
    padding: 4px;
}

#footer {
    background-color: #006677;
    color: #e2e2e2;
    border: 1px solid #000000;
}
